{{ form_start(form,  { 'attr': {'class': 'form'} }) }}
    <div class="card-body">
        <div class="form-group row">
            <div class="col-lg-4">
                {{ form_label(form.businessName) }}<span class="text-danger">*</span>
                {{ form_widget(form.businessName) }}
                <small class="text-danger">{{ form_errors(form.businessName) }}</small>
            </div>
            <div class="col-lg-4">
                {{ form_label(form.beneficiaryFirstName) }}
                {{ form_widget(form.beneficiaryFirstName) }}
                <small class="text-danger">{{ form_errors(form.beneficiaryFirstName) }}</small>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    {{ form_label(form.cover) }}
                    <div class="custom-file">
                        {{ form_widget(form.cover.file) }}
                        {% if customerBpModel.cover|length == false %}
                            {{ form_label(form.cover.file) }}
                        {% else %}
                            {{ form_label(form.cover.file, null, {'label': customerBpModel.cover.fileName}) }}
                        {% endif %}
                    </div>
                    <small class="text-primary">Types de fichiers autorisés: png, jpeg, jpg.</small> <br />
                    <small class="text-primary">Taille maximale autorisée : 10Mo.</small>
                    <smal class="text-danger">{{ form_errors(form.cover.file) }}</smal>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-4">
                {{ form_label(form.beneficiaryLastName) }}<span class="text-danger">*</span>
                {{ form_widget(form.beneficiaryLastName) }}
                <small class="text-danger">{{ form_errors(form.beneficiaryLastName) }}</small>
            </div>
            <div class="col-lg-4">
                {{ form_label(form.beneficiarySex) }}
                {{ form_widget(form.beneficiarySex) }}
                <small class="text-danger">{{ form_errors(form.beneficiarySex) }}</small>
            </div>
            <div class="col-lg-4">
                {{ form_label(form.beneficiaryMaritalStatus) }}
                {{ form_widget(form.beneficiaryMaritalStatus) }}
                <small class="text-danger">{{ form_errors(form.beneficiaryMaritalStatus) }}</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-4">
                {{ form_label(form.beneficiaryPhoneNumber) }}<span class="text-danger">*</span>
                {{ form_widget(form.beneficiaryPhoneNumber) }}
                <small class="text-danger">{{ form_errors(form.beneficiaryPhoneNumber) }}</small>
            </div>
            <div class="col-lg-4">
                {{ form_label(form.beneficiaryAddress) }}
                {{ form_widget(form.beneficiaryAddress) }}
                <small class="text-danger">{{ form_errors(form.beneficiaryAddress) }}</small>
            </div>
            <div class="col-lg-4">
                {{ form_label(form.beneficiaryStudyLevel) }}
                {{ form_widget(form.beneficiaryStudyLevel) }}
                <small class="text-danger">{{ form_errors(form.beneficiaryStudyLevel) }}</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-4">
                {{ form_label(form.customerDateOfBirth) }}
                {{ form_widget(form.customerDateOfBirth) }}
                <small class="text-danger">{{ form_errors(form.customerDateOfBirth) }}</small>
            </div>
            <div class="col-lg-4">
                {{ form_label(form.customerPlaceOfBirth) }}
                {{ form_widget(form.customerPlaceOfBirth) }}
                <small class="text-danger">{{ form_errors(form.customerPlaceOfBirth) }}</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                {{ form_label(form.marketDescription) }}
                {{ form_widget(form.marketDescription) }}
                <small class="text-danger">{{ form_errors(form.marketDescription) }}</small>
            </div>
            <div class="col-lg-6">
                {{ form_label(form.projectDescription) }}
                {{ form_widget(form.projectDescription) }}
                <small class="text-danger">{{ form_errors(form.projectDescription) }}</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                {{ form_label(form.projectSummary) }}
                {{ form_widget(form.projectSummary) }}
                <small class="text-danger">{{ form_errors(form.projectSummary) }}</small>
            </div>
            <div class="col-lg-6">
                {{ form_label(form.humanResource) }}
                {{ form_widget(form.humanResource) }}
                <small class="text-danger">{{ form_errors(form.humanResource) }}</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                {{ form_label(form.realizationProgram) }}
                {{ form_widget(form.realizationProgram) }}
                <small class="text-danger">{{ form_errors(form.realizationProgram) }}</small>
            </div>
             <div class="col-lg-6">
                {{ form_label(form.materialResource) }}
                {{ form_widget(form.materialResource) }}
                <small class="text-danger">{{ form_errors(form.materialResource) }}</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-6">
                {{ form_label(form.workingCapitalComment) }}
                {{ form_widget(form.workingCapitalComment) }}
                <small class="text-danger">{{ form_errors(form.workingCapitalComment) }}</small>
            </div>
             <div class="col-lg-6">
                {{ form_label(form.financingNeedsComment) }}
                {{ form_widget(form.financingNeedsComment) }}
                <small class="text-danger">{{ form_errors(form.financingNeedsComment) }}</small>
            </div>
        </div>

        <div class="form-group row">
             <div class="col-lg-6">
                {{ form_label(form.revenueForecastComment) }}
                {{ form_widget(form.revenueForecastComment) }}
                <small class="text-danger">{{ form_errors(form.revenueForecastComment) }}</small>
            </div>
        </div>

        {% if form.customerVariables|length %}
            <div class="form-group">
                {{ form_label(form.customerVariables) }}
                    {#<div class="col-lg-2">
                        {{ form_label(variable.name) }}
                        {{ form_widget(variable.name) }}
                        {{ form_errors(variable.name) }}
                    </div>#}
                    {% for customerVariable in form.customerVariables %}
                        <div class="row mt-5">
                            <div class="col-lg-4">
                                {#{ form_label(variable.value) }#}
                                <label for="">
                                    {% if customerVariable.vars.data.variable.definition|length %}
                                        {{ customerVariable.vars.data.variable.definition }}
                                    {% else %}
                                        {{ customerVariable.vars.data.variable.name }}
                                    {% endif %}
                                </label>
                                {{ form_widget(customerVariable.variable) }}
                                {{ form_errors(customerVariable.variable) }}
                            </div>
                            <div class="col-lg-4">
                                {#<label for="">
                                    {% if customerVariable.vars.data.variable.definition|length %}
                                        {{ customerVariable.vars.data.variable.definition }}
                                    {% else %}
                                        {{ customerVariable.vars.data.variable.name }}
                                    {% endif %}
                                </label>#}
                                {{ form_label(customerVariable.value) }}
                                {{ form_widget(customerVariable.value) }}
                                {{ form_errors(customerVariable.value) }}
                            </div>
                        </div>
                    {% endfor %}
                    {#<div class="col-lg-3">
                        {{ form_label(variable.type) }}
                        {{ form_widget(variable.type) }}
                        {{ form_errors(variable.type) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_label(variable.definition) }}
                        {{ form_widget(variable.definition) }}
                        {{ form_errors(variable.definition) }}
                    </div>#}
                
            </div>
        {% endif %}
    </div>
    <div class="card-footer text-right">
        <a href="{{ path('bo_customer_bp_model_list') }}" class="btn btn-secondary">Retour à la liste</a>
        <button type="submit" class="btn btn-success ml-2">Enregistrer</button>
    </div>
    {% do form.customerVariables.setRendered %}
{{ form_end(form) }}