{% extends 'bo/base.html.twig' %}

{% block stylesheets %}
    {{ style|raw }}
    <style>
        #sheet0 { display: none; }
        .overlay .overlay-layer {
            opacity: 1;
            background-color: transparent;
        }
        .business_plan_title {
            color: green;
            padding: 2rem;
            font-size: 1.5rem;
            background-color: #fff;
        }
        ._bp {
            padding: 1rem;
            font-size: 1.5rem;
            background-color: green;
        }
        .business_name {
            padding: 1rem;
            font-size: 1rem;
            background-color: #dcdcdc;
            color: #000;
        }
        td.n {
            display: none;
        }
        table > td {
            border-bottom: 0 !important;
            border-top: 0 !important;
            border-right: 0 !important;
            border-left: 0 !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="kt_content_container" class="container">
        <!--begin::About card-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-17">
                {{ form_start(form,  { 'attr': {'class': 'form'} }) }}
                    <!--begin::About-->
                    <div class="mb-18">
                        <!--begin::Description-->
                        <div class="fs-5 fw-bold text-gray-600">
                            <!--begin::Text-->
                            <h2 class="mb-8 text-center">Mon Business Plan</h2>
                            <p><b>1. Remplir les données concernant les "variables principales". Les calculs se font automatiquement:</b></p>

                            {% if form.customerVariables|length %}
                                <div class="form-group">
                                    {#{ form_label(form.customerVariables) }#}
                                    {% for customerVariable in form.customerVariables %}
                                        <div class="row mt-5">
                                            <div class="col-lg-4">
                                                <label for="">
                                                    {% if customerVariable.vars.data.variable.definition|length %}
                                                        {{ customerVariable.vars.data.variable.definition }}
                                                    {% else %}
                                                        {{ customerVariable.vars.data.variable.name }}
                                                    {% endif %}
                                                </label>
                                                {{ form_widget(customerVariable.variable) }}
                                                {{ form_errors(customerVariable.variable) }}
                                            </div>
                                            <div class="col-lg-4">
                                                {{ form_label(customerVariable.value) }}
                                                {{ form_widget(customerVariable.value) }}
                                                {{ form_errors(customerVariable.value) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            
                            {#<div class="form-group row">
                                {% for customerVariable in customerVariables %}
                                    {% set varName = customerVariable.variable.name %}
                                    <div class="col-lg-4">
                                        <label for="{{ varName }}" class="form-label">{{ customerVariable.variable.definition }}</label>
                                        <input type="text" class="form-control" id="{{ varName }}" aria-describedby="{{ varName }}Help" value="{{ customerVariable.value }}">
                                    </div>
                                {% endfor %}
                            </div>#}

                            <p><b>2. Indiquer les informations suivantes:</b></p>

                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::About-->

                    <!--begin::Section-->
                    <div class="mb-16">
                        <div class="table">
                            {% for table in content[2:] %}
                                {{ decode(table)|raw }}
                            {% endfor %}
                        </div>
                    </div>
                    <!--end::Section-->

                    <div class='text-center'>
                        <button type='submit' class='btn btn-success'>Generer mon Business Plan</button>
                    </div>
                    {% do form.customerVariables.setRendered %}
                    {% do form.customerPlaceOfBirth.setRendered %}
                {{ form_end(form) }}
            </div>
            <!--end::Body-->
        </div>
        <!--end::About card-->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/assets/bo/js/pages/crud/forms/editors/summernote.js?v=7.0.5') }}"></script>
    <script>
        jQuery(document).ready(function() {
            $('._text_editor_').summernote();

            $("#customer_bp_light_businessName").parent().appendTo("#beneficiaryBusinessName");
            $("#customer_bp_light_beneficiaryFirstName").parent().appendTo("#beneficiaryLastName");
            $("#customer_bp_light_beneficiaryLastName").parent().appendTo("#beneficiaryFirstName");
            $("#customer_bp_light_beneficiarySex").parent().appendTo("#beneficiarySex");
            $("#customer_bp_light_beneficiaryMaritalStatus").parent().appendTo("#beneficiaryMaritalStatus");
            $("#customer_bp_light_beneficiaryStudyLevel").parent().appendTo("#beneficiaryStudyLevel");
            $("#customer_bp_light_beneficiaryPhoneNumber").parent().appendTo("#beneficiaryPhoneNumber");
            $("#customer_bp_light_beneficiaryAddress").parent().appendTo("#beneficiaryAddress");
            
            $("#customer_bp_light_projectSummary").parent().appendTo("#projectSummary");
            $("#customer_bp_light_projectDescription").parent().appendTo("#projectDescription");
            $("#customer_bp_light_materialResource").parent().appendTo("#materialResource");
            $("#customer_bp_light_humanResource").parent().appendTo("#humanResource");
            $("#customer_bp_light_marketDescription").parent().appendTo("#marketDescription");
            $("#customer_bp_light_workingCapitalComment").parent().appendTo("#workingCapitalComment");
            $("#customer_bp_light_financingNeedsComment").parent().appendTo("#financingNeedsComment");
            $("#customer_bp_light_revenueForecastComment").parent().appendTo("#revenueForecastComment");
            $("#customer_bp_light_customerDateOfBirth").parent().appendTo("#customerDateOfBirth");
            $("#customer_bp_light_realizationProgram").parent().appendTo("#realizationProgram");
        });
    </script>
{% endblock %}
