{% extends 'bo/list.html.twig' %}

{% block title %}Client | Modèles Business Plan{% endblock %}

{% block list_title %}Mes modèles Business Plan{% endblock %}

{% block table_content %}
    <thead>
    <tr>
        <th>Nom</th>
        <th>Nombre de variables</th>
        <th>Nom commerciale</th>
        <th>Date de création</th>
        <th>Date de modifiucation</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for bpModel in bpModels %}
        <tr>
            <td>{{ bpModel.name }}</td>
            <td>{{ bpModel.variableNumber }}</td>
            <td>
                {% if bpModel.customerBps|length %}
                    {{ bpModel.customerBps.first.businessName }}
                {% endif %}
            </td>
            <td>{{ bpModel.createdAt|date('d/m/Y H:i') }}</td>
            <td>
                {% if bpModel.customerBps|length %}
                    {{ bpModel.updatedAt|date('d/m/Y H:i') }}
                {% endif %}
            </td>
            <td nowrap="nowrap" align="left">
                <a href="{{ path('bo_customer_bp_model_configure', {'id': bpModel.id}) }}" class="d-block mb-3">
                    <span class="svg-icon svg-icon-primary">
                        <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/General/Settings-2.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"/>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                        Configurer
                    </span>
                </a>
                {% if bpModel.customerBps|length %}
                    <a href="{{ path('bo_customer_bp_model_generate', {'id': bpModel.id}) }}" class="d-block mb-3">
                        <span class="svg-icon svg-icon-primary">
                            <!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo2/dist/../src/media/svg/icons/Home/Book-open.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"/>
                                    <path d="M13.6855025,18.7082217 C15.9113859,17.8189707 18.682885,17.2495635 22,17 C22,16.9325178 22,13.1012863 22,5.50630526 L21.9999762,5.50630526 C21.9999762,5.23017604 21.7761292,5.00632908 21.5,5.00632908 C21.4957817,5.00632908 21.4915635,5.00638247 21.4873465,5.00648922 C18.658231,5.07811173 15.8291155,5.74261533 13,7 C13,7.04449645 13,10.79246 13,18.2438906 L12.9999854,18.2438906 C12.9999854,18.520041 13.2238496,18.7439052 13.5,18.7439052 C13.5635398,18.7439052 13.6264972,18.7317946 13.6855025,18.7082217 Z" fill="#000000"/>
                                    <path d="M10.3144829,18.7082217 C8.08859955,17.8189707 5.31710038,17.2495635 1.99998542,17 C1.99998542,16.9325178 1.99998542,13.1012863 1.99998542,5.50630526 L2.00000925,5.50630526 C2.00000925,5.23017604 2.22385621,5.00632908 2.49998542,5.00632908 C2.50420375,5.00632908 2.5084219,5.00638247 2.51263888,5.00648922 C5.34175439,5.07811173 8.17086991,5.74261533 10.9999854,7 C10.9999854,7.04449645 10.9999854,10.79246 10.9999854,18.2438906 L11,18.2438906 C11,18.520041 10.7761358,18.7439052 10.4999854,18.7439052 C10.4364457,18.7439052 10.3734882,18.7317946 10.3144829,18.7082217 Z" fill="#000000" opacity="0.3"/>
                                </g>
                            </svg><!--end::Svg Icon-->
                            Générer mon Business Plan
                        </span>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
