{{ form_start(form,  { 'attr': {'class': 'form'} }) }}
    <div class="card-body">
        <div class="form-group row">
            <div class="col-lg-4">
                {{ form_label(form.lastName) }}<span class="text-danger">*</span>
                {{ form_errors(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div class="col-lg-4">
                {{ form_label(form.firstName) }}<span class="text-danger">*</span>
                {{ form_errors(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
            <div class="col-lg-4">
                {{ form_label(form.phoneNumber) }}
                {{ form_errors(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-4">
                {{ form_label(form.email) }}<span class="text-danger">*</span>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div class="col-lg-4">
                {{ form_label(form.plainPassword) }}
                {{ form_errors(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <a href="{{ path('bo_administrator_list') }}" class="btn btn-secondary">Retour à la liste</a>
        <button type="submit" class="btn btn-success ml-2">Enregistrer</button>
    </div>
{{ form_end(form) }}
