{% extends 'bo/base.html.twig' %}

{% block title %}
    {% if currentRouteName == 'bo_add_administrator' or currentRouteName == 'bo_edit_administrator' %}
        Zoe Business Plan | Administrateur
    {% elseif currentRouteName == 'bo_add_customer' or currentRouteName == 'bo_edit_customer' %}
        Zoe Business Plan | Client
    {% endif %}
{% endblock %}

{% block extra_body_class %} subheader-enabled{% endblock %}

{% block breadcrumb %}
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Utilisateurs</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            {% if currentRouteName == 'bo_add_administrator' or currentRouteName == 'bo_edit_administrator' %}
                                <a href="{{ path('bo_administrator_list') }}" class="text-muted">Administrateurs</a>
                            {% elseif currentRouteName == 'bo_add_customer' or currentRouteName == 'bo_edit_customer' %}
                                <a href="{{ path('bo_customer_list') }}" class="text-muted">Clients</a>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">
                                {% if '_add' in currentRouteName %}
                                    Nouveau
                                {% else %}
                                    Mise à jour
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
{% endblock %}

{% block body %}
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% block card_title %}
                                    {% if currentRouteName == 'bo_administrator' %}
                                        Ajout d'administrateur
                                    {% elseif currentRouteName == 'bo_customer' %}
                                        Ajout de client
                                    {% endif %}
                                {% endblock %}
                            </h3>
                        </div>
                        <!--begin::Form-->
                        {% if currentRouteName == 'bo_add_administrator' or currentRouteName == 'bo_edit_administrator' %}
                            {{ include('bo/user/_form.html.twig') }}
                        {% elseif currentRouteName == 'bo_add_customer' or currentRouteName == 'bo_edit_customer' %}
                            {{ include('bo/user/_form.html.twig') }}
                        {% endif %}
                        <!--end::Form-->
                    </div>
                    <!--end::Card-->
                </div>

            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/public/assets/bo/js/pages/crud/forms/widgets/bootstrap-datepicker.js?v=7.0.5') }}"></script>
    <script src="{{ asset('/public/assets/bo/js/pages/crud/forms/widgets/bootstrap-datepicker.fr.min.js') }}"></script>
    <script src="{{ asset('/public/assets/bo/js/pages/crud/forms/widgets/select2.min.js?v=7.0.5') }}"></script>
    <script src="{{ asset('/public/assets/bo/js/pages/crud/file-upload/image-input.js?v=7.0.5') }}"></script>
    <script>
        jQuery(document).ready(function() {
            $('.select2').select2({
                //placeholder: "Choisir une ou plusieurs variables",
                allowClear: true,
            });
        });
    </script>
{% endblock %}